<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.blali733.counters">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dialogs.CreatorDialog" android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".dialogs.EditDialog" android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".dialogs.SettingsDialog"
            android:label="@string/action_settings"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b9e00e7b214bb96052d8a7e7ba07753dfaf13bc5" />
    </application>

</manifest>